
#fsmView {
    height: 100%;
    position: relative;
}

.fsm {
    flex: auto;
    overflow: hidden;
    position: relative;
}

#fsmPaper {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.fsm button{
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: medium none;
    color: white;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    z-index: 30;
}

#toSchematic{
    bottom: 50px;
    right: 50px;
    background-color: rgb(38, 177, 79);
    z-index: 30;
}

#fsmSettings{
    top: 15px;
    right: 50px;
    color: #3e3e3e;
    background-color: rgba(0,0,0,0.01);
    font-size: 40px;
}

#fsmSettings:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.55);
}


#newState{
    bottom: 50px;
    right: 130px;
    background-color: rgb(38, 167, 177);
}


.popUpWrapper{
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;    
}

.popUpWrapper > div {
    width: 200px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    flex-direction: column;
    padding: 20px;
}


.popUpWrapper > div > .content {
    display: block;
}

.popUpWrapper > div > .content > input{
    width: 40px;
    border-width: 0px 0px 2px 0px;
    border-color: black;
    text-align: center;
    color: blue;    
}


.popUpWrapper div .buttons {
    width: 100%;
    display: block;
    text-align: right;
    padding-top: 20px;    
}

