
#fsmView {
    height: 100%;
}

.fsm {
    flex: auto;
    overflow: hidden;
    position: relative;
}

#fsmPaper {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.fsm button{
    position: absolute;
    bottom: 50px;
    right: 49px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: medium none;
    color: white;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    background-color: rgb(38, 177, 79);
}
