#schematicView {
    width: 100%;
    height: 100%;
    display: flex;
}

.schematic {
    flex: auto;
    overflow: hidden;
    position: relative;
}

.schematic button{
    position: absolute;
    bottom: 50px;
    right: 49px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: medium none;
    color: white;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    background-color: rgb(38, 177, 79);
    z-index: 30;
}

#schematicPaper {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

#gateList {
    margin: 10px;
    padding: 0px;
}

#gateList li:hover{
    background-color: #c2f2b7;
}

#gateList li{
    display: inline-block;
    margin: 5px;
    list-style-type: none;
}

#gateList li img{
    display: inline-block;
    vertical-align: middle;    
}

#gateList li span{
    display: inline-block;
    vertical-align: middle;
}


@media (min-width: 600px){
    #schematicView {
        flex-direction: row;
    }

    .sidebar {
        min-width: 230px;
        height: 100%;
        flex-basis: 250px;
    }


    #schematic {
        height: 100%;
    }

    .gateListWrapper {
        height: 100%;
        width: 100%;
    }

    #gateList {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        margin: 10px;
        padding: 0px;
    }

    #gateList li{
        display: inline-block;
        margin: 5px;
        list-style-type: none;
        width: 100%;
    }

    #gateList li img{
        display: inline-block;
        vertical-align: middle;    
    }

    #gateList li span{
        display: inline-block;
        vertical-align: middle;
    }
}

@media (max-width: 600px){
    #schematicView {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        order: 10;
    }


    
    .gateListWrapper {
        width: 100%;
    }

    #gateList {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 10px;
        padding: 0px;
        display: flex;
    }

    #gateList li{
        display: inline-block;
        margin: 5px;
        list-style-type: none;
    }

    #gateList li img{
        display: inline-block;
        vertical-align: middle;    
    }

    #gateList li span{
        display: inline-block;
        vertical-align: middle;
    }
}
