* {
    margin: 0px;
}


body {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #26b14f;
}

.view {
    width: 100%;
    height: cal(100% - 50px);
}

#schematicView {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 30%;
    max-width: 250px;
}


#schematicPaper {
    flex: auto;
}

.gateListWrapper {
    height: 100%;
}

#gateList {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hiden;
    padding: 10px;
}

#gateList li:hover{
    background-color: #c2f2b7;
}

#gateList li{
    display: inline-block;
    padding: 5px;
    list-style-type: none;
    width: 100%;
}

#gateList li img{
    display: inline-block;
    vertical-align: middle;    
}

#gateList li span{
    display: inline-block;
    vertical-align: middle;
}

