button {
    border: none;
    color: white;
    width: 80px;
    height: 40px;
}

* {
    margin: 0px;
}


body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #26b14f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.header a {
    color: white;
    text-decoration: none;
}

.title {
    font-size: 30px;
    padding-left: 10px;
}

#subTitle {
    font-size: 20px;
    padding-left: 10px;
}

.view {
    width: 100%;
    height: calc(100% - 50px);
}


button.cancel {
    background-color: rgb(177, 38, 102);
}

button.enter {
    background-color: rgb(38, 167, 177);
}


@media (max-width: 400px){
    .title{
        display: none;
    } 
}
